################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/3118005386/DuplicateChecking/x64/Debug
/3118005386/DuplicateChecking/Debug
/3118005386/DuplicateChecking/.vs/DuplicateChecking/v16
/3118005386/DuplicateChecking/orig.txt
/笔记.md
/3118005386/DuplicateChecking/x64/Release/vc141.pdb
/3118005386/DuplicateChecking/x64/Release/vc.nativecodeanalysis.all.xml
/3118005386/DuplicateChecking/x64/Release/Simhasher.obj
/3118005386/DuplicateChecking/x64/Release/simhasher.nativecodeanalysis.xml
/3118005386/DuplicateChecking/x64/Release/simhasher.nativecodeanalysis.sarif
/3118005386/DuplicateChecking/x64/Release/NativeCodeAnalysis.read.1.tlog
/3118005386/DuplicateChecking/x64/Release/main.obj
/3118005386/DuplicateChecking/x64/Release/main.nativecodeanalysis.xml
/3118005386/DuplicateChecking/x64/Release/main.nativecodeanalysis.sarif
/3118005386/DuplicateChecking/x64/Release/DuplicateChecking.vcxproj.FileListAbsolute.txt
/3118005386/DuplicateChecking/x64/Release/DuplicateChecking.pdb
/3118005386/DuplicateChecking/x64/Release/DuplicateChecking.log
/3118005386/DuplicateChecking/x64/Release/DuplicateChecking.ipdb
/3118005386/DuplicateChecking/x64/Release/DuplicateChecking.iobj
/3118005386/DuplicateChecking/x64/Release/DuplicateChecking.exe.lastcodeanalysissucceeded
/3118005386/DuplicateChecking/x64/Release/DuplicateChecking.Build.CppClean.log
/3118005386/DuplicateChecking/x64/Release/Duplicat.6bafc2a9.tlog
/3118005386/DuplicateChecking/x64/Release/CodeAnalysisResultManifest.txt
/3118005386/DuplicateChecking/x64/Release
