################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/3118005386/DuplicateChecking/x64/Debug
/3118005386/DuplicateChecking/Debug
/3118005386/DuplicateChecking/.vs/DuplicateChecking/v16
/3118005386/DuplicateChecking/x64/Release
/3118005386/DuplicateChecking/orig.txt
/笔记.md
/3118005386/Checking_Test/x64
/3118005386/Check_Test/x64/Release
/3118005386/Check_Test/dict
/3118005386/DuplicateChecking/.opencppcov/DuplicateChecking
/3118005386/DuplicateChecking/LastCoverageResults.log
/3118005386/Check_Test/.opencppcov/Check_Test
/3118005386/Check_Test/LastCoverageResults.log
/3118005386/DuplicateChecking/Release/mainv1.0.zip
