################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/3118005386/DuplicateChecking/x64/Debug
/3118005386/DuplicateChecking/Debug
/3118005386/DuplicateChecking/.vs/DuplicateChecking/v16
/3118005386/DuplicateChecking/x64/Release
/3118005386/DuplicateChecking/Release
/3118005386/DuplicateChecking/orig.txt
/笔记.md
